@using WorkTracker.Models
@model NotificationModel
    <div class="container-fluid">


        <h1>Employer Dashboard</h1>


        <p>(Once you Log In it will take you to this page)</p>


        <h2> </h2>


        <div class="row">


            <div class="col-sm-5">


                <div class="panel panel-primary">


                    <div id="workItem2" data-toggle="collapse" data-target="#notificationInfo" class="panel-heading">Notifications (2 new) <span id="workItem2Icon" class="glyphicon glyphicon-chevron-up pull-right"></span></div>
                    <div id="notificationInfo" class="panel-body panel-collapse collapse in">
                    @foreach(var currentNotification in Model.myNotifications)
                    {
                        <div>@(currentNotification.AssignedTo)</div>
                    }
                    </div>

                </div>


            </div>


            <div class="col-sm-1">


                <div class="panel panel-primary">


                    <div class="panel-body"> </div>


                    <div class="panel-body"> </div>


                    <p> </p>


                </div>


            </div>


            <div class="col-sm-2">


                <button type="button" class="btn btn-Warning">Once you<br /> Log In it will<br />take you to<br /> this page </button>


            </div>


        </div>


    </div>


    <a href="Create" type="button" class="btn btn-default">Create New Work item</a>


    <p> </p>


    <p> </p>


    <p> All Work Items (2) </p>


    <div class="row">


        <div class="col-sm-5">


            <div class="panel panel-primary">


                <div class="panel-heading">Lake Mary House (Pending Approval)</div>


                <div class="panel-body">Work to be done on: 11/26/16 </div>


                <div class="panel-body">Employee: Jairo</div>


                <div class="panel-body">Cost: $1000 </div>


                <button type="button" class="btn btn-default">Approve</button>


                <button type="button" class="btn btn-default">Deny</button>


                <p> </p>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        History
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Jairo "I will use the drill for this one <br />on 10/26/2016 7:02 PM"</a></li>
                        <li><a href="#">Jairo created on 10/26/2016 7:00 PM</a></li>
                        <li><a href="#">You: "Okay that's fine but it will cost $500.00" <br />on 10/28/16 1:50 PM</a></li>
                        <li><a href="#">Sam "I will be there on Friday <br />on 10/27/16 3:13 PM"</a></li>
                        <li><a href="#">Sam created on 10/27/16 3:10 PM "</a></li>


                    </ul>
                </div>


            </div>


        </div>


        <div class="col-sm-4">


            <div class="panel panel-primary">


                <div class="panel-heading">Sanford Elementary School (Approved)</div>


                <div class="panel-body">Work to be done on: 11/01/16 </div>


                <div class="panel-body">Employee: Sam </div>


                <div class="panel-body">Cost: $500 </div>


                <button type="button" class="btn btn-default">Mark as Completed</button>


                <button type="button" class="btn btn-default">Deny</button>


                <p> </p>




                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        History
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sam "I finished the job <br />on 10/30/16 5:55 PM  </a></li>
                        <li><a href="#">You approved this Work Item <br />on 10/28/16 2:00 PM</a></li>
                        <li><a href="#">You: "Okay that's fine but it will cost $500.00" <br />on 10/28/16 1:50 PM</a></li>
                        <li><a href="#">Sam "I will be there on Friday <br />on 10/27/16 3:13 PM"</a></li>
                        <li><a href="#">Sam created on 10/27/16 3:10 PM "</a></li>


                    </ul>
                </div>














            </div>


        </div>


    </div>
    <script>
        $(document).ready(function () {
            console.log("The document is ready.");
            $("#workItem2").click(function () {
                var myIcon = $("#workItem2Icon");
                myIcon.toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
                //myIcon.removeClass();
                //myIcon.addClass("glyphicon glyphicon-chevron-up");

            });

        });
    </script>
