@using WorkTracker.Models
@model NotificationModel
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                @{ 
                    var openBox = "";
                    if (Model.openBox == true)
                    {
                        openBox = "in";
                    }
                    int totalNew = 0;
                    string newText = "";
                    foreach(var note in Model.myNotifications)
                    {
                        if (note.isNew == true)
                        {
                            totalNew++;
                        }
                    }
                    if (totalNew > 0)
                    {
                        newText = "("+totalNew+" New)";
                    }
                }
                <div onclick="void(0)" data-target="#notificationInfo" class="panel-heading toggleArrowContainer"><h4>Notifications @(newText) <span class="arrowIcon glyphicon glyphicon-chevron-up pull-right"></span></h4></div>
                <ul id="notificationInfo" class="list-group collapse @(openBox)">
                    @if (Model.myNotifications.Count == 0)
                    {
                        <li class="list-group-item">No new Notifications.</li>
                    }
                    else
                    {
                        foreach (var currentNotification in Model.myNotifications)
                        {
                            <li class="list-group-item">@Html.Raw(currentNotification.text)</li>
                        }

                    }
                    @if (Model.showViewAllBtn == true)
                    {
                        <li class="list-group-item"><a type="button" href="Notifications" class="btn btn-success">View All Notifications</a></li>
                    }
                </ul>

            </div>
        </div>
    </div>
<div class="modal fade" id="workItemModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:95%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="workItemModalTitle">Work Item</h4>
            </div>
            <div class="modal-body" id="workItemModalBody">
                <p>Loading Work Item...</p>
            </div>
        </div>
    </div>
</div>
<style>
.itemLink {
    color:blue;
    cursor:pointer;
}
</style>
    <script>
        $(document).ready(function () {
            //On WorkItem link click
            $(document).on('click', '.itemLink', function () {
                var itemID = $(this).data("itemid");
                openWorkItem(itemID);
            });

        });

        function openWorkItem(itemID) {
            $("#workItemModalBody").text("Loading Work Item...");
            $("#workItemModal").modal({
                show: true,
                backdrop: "static"
            });
            $.ajax({
                url: "GetWorkItemPartial",
                data: {itemID: itemID},
                success: function (result) {
                    $("#workItemModalBody").html(result.viewString);
                },
                error: function (result) {
                    $("#workItemModalBody").html("Error... Please Try again...");
                }
            });
        }
    </script>
