@using WorkTracker.Models
@model NotificationModel
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                @{ 
                    var openBox = "";
                    if (Model.openBox == true)
                    {
                        openBox = "in";
                    }
                    int totalNew = 0;
                    string newText = "";
                    foreach(var note in Model.myNotifications)
                    {
                        if (note.isNew == true)
                        {
                            totalNew++;
                        }
                    }
                    if (totalNew > 0)
                    {
                        newText = "("+totalNew+" NEW)";
                    }
                }
                <div id="workItem2" data-toggle="collapse" data-target="#notificationInfo" class="panel-heading"><h4>Notifications @(newText) <span id="workItem2Icon" class="glyphicon glyphicon-chevron-up pull-right"></span></h4></div>
                <ul id="notificationInfo" class="list-group collapse @(openBox)">
                    @if (Model.myNotifications.Count == 0)
                    {
                        <li class="list-group-item">No new Notifications.</li>
                    }
                    else
                    {
                        foreach (var currentNotification in Model.myNotifications)
                        {
                            <li class="list-group-item">@Html.Raw(currentNotification.text)</li>
                        }

                    }
                    @if (Model.showViewAllBtn == true)
                    {
                        <li class="list-group-item"><a type="button" href="Notifications" class="btn btn-success">View All Notifications</a></li>
                    }
                </ul>

            </div>
        </div>
    </div>
<style>
.itemLink {
    color:blue;
    cursor:pointer;
}
</style>
    <script>
        $(document).ready(function () {
            //Toggle Notification Arrow icon
            $("#workItem2").click(function () {
                var myIcon = $("#workItem2Icon");
                myIcon.toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
            });

            $(".itemLink").click(function () {
                var itemID = $(this).data("itemid");
                openWorkItem(itemID);
            });

        });

        function openWorkItem(itemID) {
            alert("Open Work Item: " + itemID);
        }
    </script>
