@using WorkTracker.Models
@model WorkItemListModel
@{
    var workItemCount = "";
    if (Model.workItems.Count > 0)
    {
        workItemCount = "("+Model.workItems.Count+")";
    }
}
<style>
    .list-group-item-success {
        color: #3c763d;
        background-color: #dff0d8;
    }
    .list-group-item-danger {
        color: #a94442;
        background-color: #f2dede;
    }
    .list-group-item-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
    }
    .hideMe {
        display:none;
    }
    .showMeInline {
        display:inline;
    }
    li.showMeInline {
        display:block;
    }
</style>
<div class="row">
    <div class="col-xs-12" id="workItemContainer">
        @foreach (var item in Model.workItems)
        {
            <div class="col-md-6" id="workItemContainer@(item.itemID)">
                @Html.Partial("_WorkItem", item)
            </div>
        }
    </div>
</div>

@Html.Partial("_saveModal")

<script>
    $(document).ready(function () {
        
        //When Edit button is clicked for a Work Item, show edit fields
        $(document).on('click', '.editWorkItemBtn', function () {
            var itemID = $(this).data('itemid');
            //Show or hide edit details for this item
            $(".editSection" + itemID).toggleClass('hideMe showMeInline');
        });

        //When Save Changes button is clicked for a Work Item
        $(document).on('click', '.saveWorkItemBtn', function () {
            var itemID = $(this).data('itemid');
            saveWorkItem(itemID)
        });        

        //Set up confirmation Popups
        setUpConfirmationPopups();

        //When Approve is pressed on the Approve Confirmation
        $(document).on('click', '.workItemApproveConfirmed', function () {
            var itemID = $(this).data('itemid');
            //Check if it comes from modal
            var isModal = $(this).data('ismodal');
            approveWorkItem(itemID, isModal);
        });

        //When Deny is pressed on the Deny Confirmation
        $(document).on('click', '.workItemDenyConfirmed', function () {
            var itemID = $(this).data('itemid');
            var isModal = $(this).data('ismodal');
            denyWorkItem(itemID, isModal);
        });

        //When Paid is pressed on the Paid Confirmation
        $(document).on('click', '.workItemPaidConfirmed', function () {
            var itemID = $(this).data('itemid');
            var isModal = $(this).data('ismodal');
            paidWorkItem(itemID, isModal, true);
        });

        //When Not Paid is pressed on the Not Paid Confirmation
        $(document).on('click', '.workItemNotPaidConfirmed', function () {
            var itemID = $(this).data('itemid');
            var isModal = $(this).data('ismodal');
            paidWorkItem(itemID, isModal, false);
        });

    });

    //Set up confirmation popups for a particular Work Item
    function setUpConfirmationPopups() {
        //Approve button
        $(".workItemApproveBtn").each(function () {
            if ($(this).data('bs.popover')) {
                //do nothing this button already has the popover
            }else{
                var itemID = $(this).data('itemid');
                var isModal = $(this).data('ismodal');
                var idName = $(this).parent().attr('id');
                var approveYesBtn = '<button data-itemid="' + itemID + '" data-ismodal="' + isModal + '" class="btn btn-success workItemApproveConfirmed">Approve</button>';
                var approveNoBtn = ' <button class="btn btn-danger" onclick="$(&quot;#' + idName + ' .workItemApproveBtn&quot;).popover(&quot;hide&quot;);">No</button>';
                $(this).popover({ title: "Are you sure?", content: approveYesBtn + approveNoBtn, html: true, placement: "auto bottom" });
            }            
        });

        //Deny button
        $(".workItemDenyBtn").each(function () {
            if ($(this).data('bs.popover')) {
                //do nothing this button already has the popover
            } else {
                var itemID = $(this).data('itemid');
                var isModal = $(this).data('ismodal');
                var idName = $(this).parent().attr('id');
                var baseName = "workItemDeny";
                var YesBtn = '<button data-itemid="' + itemID + '" data-ismodal="' + isModal + '" class="btn btn-success ' + baseName + 'Confirmed">Deny</button>';
                var NoBtn = ' <button class="btn btn-danger" onclick="$(&quot;#' + idName + ' .' + baseName + 'Btn&quot;).popover(&quot;hide&quot;);">No</button>';
                $(this).popover({ title: "Are you sure?", content: YesBtn + NoBtn, html: true, placement: "auto bottom" });
            }
        });

        //Paid button
        $(".workItemPaidBtn").each(function () {
            if ($(this).data('bs.popover')) {
                //do nothing this button already has the popover
            } else {
                var itemID = $(this).data('itemid');
                var isModal = $(this).data('ismodal');
                var idName = $(this).parent().attr('id');
                var baseName = "workItemPaid";
                var YesBtn = '<button data-itemid="' + itemID + '" data-ismodal="' + isModal + '" class="btn btn-success ' + baseName + 'Confirmed">Paid</button>';
                var NoBtn = ' <button class="btn btn-danger" onclick="$(&quot;#' + idName + ' .' + baseName + 'Btn&quot;).popover(&quot;hide&quot;);">No</button>';
                $(this).popover({ title: "Are you sure?", content: YesBtn + NoBtn, html: true, placement: "auto bottom" });
            }
        });
        //Not Paid button
        $(".workItemNotPaidBtn").each(function () {
            if ($(this).data('bs.popover')) {
                //do nothing this button already has the popover
            } else {
                var itemID = $(this).data('itemid');
                var isModal = $(this).data('ismodal');
                var idName = $(this).parent().attr('id');
                var baseName = "workItemNotPaid";
                var YesBtn = '<button data-itemid="' + itemID + '" data-ismodal="' + isModal + '" class="btn btn-success ' + baseName + 'Confirmed"> Not Paid</button>';
                var NoBtn = ' <button class="btn btn-danger" onclick="$(&quot;#' + idName + ' .' + baseName + 'Btn&quot;).popover(&quot;hide&quot;);">No</button>';
                $(this).popover({ title: "Are you sure?", content: YesBtn + NoBtn, html: true, placement: "auto bottom" });
            }
        });
    }

    //If the paid confirmation is made, call the ajax
    function paidWorkItem(itemID, isModal, paid) {
        var resultMessage = "paid";
        if (paid == false)
            resultMessage = "not paid";
        //Open save modal to block any other input
        $("#saveModal").modal({ backdrop: "static" });
        var isModal = false;
        $.post({
            url: "PaidWorkItem",
            data: {
                itemID: itemID,
                newStatus: paid
            },
            success: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                if (result.success == true) {
                    createNotification("Work Item marked as "+resultMessage+"!", "success");
                    $("#workItemContainer" + itemID).html(result.viewString);
                    setUpConfirmationPopups();//Set up any new popups for this Work Item
                } else {
                    createNotification("Error: Could not mark Work Item as " + resultMessage + ".", "error");
                }
            },
            error: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                createNotification("Error: Could not mark Work Item as " + resultMessage + ".", "error");
            }
        });
    }

    //If the deny confirmation is made, call the ajax
    function denyWorkItem(itemID, isModal) {
        //Open save modal to block any other input
        $("#saveModal").modal({ backdrop: "static" });
        var isModal = false;
        $.post({
            url: "DenyWorkItem",
            data: { itemID: itemID },
            success: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                if (result.success == true) {
                    createNotification("Work Item denied!", "success");
                    $("#workItemContainer" + itemID).html(result.viewString);
                    setUpConfirmationPopups();//Set up any new popups for this Work Item
                } else {
                    createNotification("Error: Could not deny Work Item.", "error");
                }
            },
            error: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                createNotification("Error: Could not deny Work Item.", "error");
            }
        });
    }

    //If the approve confirmation is made, call the ajax
    function approveWorkItem(itemID, isModal) {
        $("#saveModal").modal({ backdrop: "static" });
        var isModal = false;
        $.post({
            url: "ApproveWorkItem",
            data: { itemID: itemID },
            success: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                if (result.success == true) {
                    createNotification("Work Item approved!", "success");
                    $("#workItemContainer" + itemID).html(result.viewString);
                    setUpConfirmationPopups();//Set up any new popups for this Work Item
                }else{
                    createNotification("Error: Could not approve Work Item.", "error");
                }
            },
            error: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                createNotification("Error: Could not approve Work Item.", "error");
            }
        });
    }
        
    //Save Work Item Functions Section
    function saveWorkItem(itemID) {
        $("#saveModal").modal({ backdrop: "static" });
        var isModal = false;
        $.post({
            url: "SaveWorkItem",
            data: {
                itemID: itemID,
                newStatus: $("#statusOptions" + itemID).val(),
                newDate: $("#dateBox" + itemID).val(),
                newAssigned: $("#assignedBox" + itemID).val(),
                newCost: $("#costBox" + itemID).val(),
                newPaid: $("#paidStatusOptions" + itemID).val(),
                newDescription: $("#descriptionBox" + itemID).val(),
                isModal: isModal,
                '__RequestVerificationToken': $('input[name=__RequestVerificationToken]').val()
            },
            success: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                if (result.success == true) {
                    createNotification("Work Item was saved!", "success");
                    $("#workItemContainer" + itemID).html(result.viewString);
                    setUpConfirmationPopups();//Set up any new popups for this Work Item
                } else {
                    createNotification("Error: Could not save Work Item.", "error");
                }
            },
            error: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                createNotification("Error: Could not save Work Item.", "error");
            }
        });
    }
</script>
