@using WorkTracker.Models
@model DashboardModel
@{
    var roleTitleName = "My";
    if (Model.userRole == Role.RoleTypes.Admin)
    {
        roleTitleName = "Admin";
    }else if (Model.userRole == Role.RoleTypes.Owner)
    {
        roleTitleName = "Owner";
    }
    ViewBag.Title = roleTitleName + " Dashboard";
}

<div class="row">
    <h1>@(roleTitleName) Dashboard</h1>
</div>
<div class="row" style="padding-bottom:10px">
    <div class="col-xs-12">
        <a href="Create" type="button" class="btn btn-success">Create New Daily Work Report</a>
    </div>
</div>
@Html.Partial("_Notifications", Model.NotificationModel)

<div class="row">
    <div class="col-xs-12">
        <h3>Work Items</h3>
    </div>
</div>
<div class="row" style="padding-bottom:10px">
    <div class="col-xs-12">
        Sort by: Show All
    </div>
</div>
@Html.AntiForgeryToken()
@Html.Partial("_WorkItemList", Model.WorkItemListModel)
<script type="text/javascript" src="~/Scripts/jquery-notify.min.js"></script>
<script>
    //toggle Arrow when clicked
    $(document).on('click', '.toggleArrowContainer', function () {
        var myIcon = $(this).find('.arrowIcon');
        myIcon.toggleClass("glyphicon-chevron-down glyphicon-chevron-up");

        //try to toggle the collapse, this will fix the Iphone/Ipad issue with the collapse not working
        var collapseTarget = $(this).data('target');
        if (collapseTarget != null) {
            $(collapseTarget).collapse('toggle');
        }
    });

    //Create Notification on top of the window
    function createNotification(text, type) {
        $.notify.create(text, {
            appendTo: '.body-content',
            sticky: false,
            adjustScroll: true,
            type: type,
            style: 'box'
        });
    }
</script>