@using WorkTracker.Models
@model NotificationModel
@{
    ViewBag.Title = "Notifications";
}

<div class="row">
    <h1>Notifications</h1>
</div>
@Html.Partial("_Notifications", Model)

<script>
    //toggle Arrow when clicked
    $(document).on('click', '.toggleArrowContainer', function () {
        var myIcon = $(this).find('.arrowIcon');
        myIcon.toggleClass("glyphicon-chevron-down glyphicon-chevron-up");

        //try to toggle the collapse, this will fix the Iphone/Ipad issue with the collapse not working
        var collapseTarget = $(this).data('target');
        if (collapseTarget != null) {
            $(collapseTarget).collapse('toggle');
        }
    });
</script>