@using WorkTracker.Models
@model WorkItemReportModel
@{
    ViewBag.Title = "Report";
}
<style>
    .list-group-item-success {
        color: #3c763d;
        background-color: #dff0d8;
    }
    .list-group-item-danger {
        color: #a94442;
        background-color: #f2dede;
    }
    .list-group-item-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
    }
    .hideMe {
        display:none;
    }
    .showMeInline {
        display:inline;
    }
    li.showMeInline {
        display:block;
    }
    .popover-title {
        color:black !important;
    }
</style>
<div class="row">
    <h1>Report</h1>
    <h4>Showing each employee that is owed for their approved work.</h4>
</div>
<div class="row">
    <div class="col-xs-12" id="reportItemContainer">
        @{ bool haveReportItems = false; }
        @foreach (var item in Model.reportItems)
        {
            if (item.totalOwed > 0)
            {
                haveReportItems = true;
                <div class="col-md-6" id="reportItemContainer@(item.userId)">
                    @Html.Partial("_ReportItem", item)
                </div>
            }
        }
        @if(haveReportItems == false)
        {
            @:No money owed to any Employee. Woohoo!
        }
    </div>
</div>
@Html.AntiForgeryToken()
@Html.Partial("_saveModal")
<script type="text/javascript" src="~/Scripts/jquery-notify.min.js"></script>
<script>

    $(document).ready(function () {
        //When Approve is pressed on the Approve Confirmation
        $(document).on('click', '.payWorkItemsConfirmed', function () {
            var userID = $(this).data('userid');
            payWorkItem(userID);
        });

        //Approve button
        $(".payWorkItemBtn").each(function () {
            if ($(this).data('bs.popover')) {
                //do nothing this button already has the popover
            } else {
                var userID = $(this).data('userid');
                var idName = $(this).attr('id');
                var approveYesBtn = '<button data-userid="' + userID + '" class="btn btn-success payWorkItemsConfirmed">Paid</button>';
                var approveNoBtn = ' <button class="btn btn-danger" onclick="$(&quot;#' + idName + '&quot;).popover(&quot;hide&quot;);">No</button>';
                $(this).popover({ title: "Are you sure?", content: approveYesBtn + approveNoBtn, html: true, placement: "auto bottom" });
            }
        });
    });
    

    //toggle Arrow when clicked
    $(document).on('click', '.toggleArrowContainer', function () {
        var myIcon = $(this).find('.arrowIcon');
        myIcon.toggleClass("glyphicon-chevron-down glyphicon-chevron-up");

        //try to toggle the collapse, this will fix the Iphone/Ipad issue with the collapse not working
        var collapseTarget = $(this).data('target');
        if (collapseTarget != null) {
            $(collapseTarget).collapse('toggle');
        }
    });

    //Create Notification on top of the window
    function createNotification(text, type) {
        $.notify.create(text, {
            appendTo: '.body-content',
            sticky: false,
            adjustScroll: true,
            type: type,
            style: 'box'
        });
    }

    //If the pay confirmation is made, call the ajax
    function payWorkItem(userID) {
        //Open save modal to block any other input
        $("#saveModal").modal({ backdrop: "static" });
        var isModal = false;
        $.post({
            url: "PayAllWorkItemsForUser",
            data: {
                userID: userID
            },
            success: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                if (result.success == true) {
                    createNotification("Work Item(s) marked as paid!", "success");
                    $("#reportItemContainer" + userID).hide();
                } else {
                    createNotification("Error: Could not mark Work Item as paid.", "error");
                }
            },
            error: function (result) {
                $("#saveModal").modal("hide"); //Hide Save Modal once we have responce
                createNotification("Error: Could not mark Work Item as paid.", "error");
            }
        });
    }

</script>